{% extends 'main.html' %}

{% block content %}

<div class="container mt-3">
    <div class="row justify-content-center">
      <div class="col-md-9">
        
        <div class="card bg-light">

          <div class="card-header bg-success-subtle d-flex justify-content-end align-items-center">
            <a class='btn btn-outline-success rounded-pill'  href="{% url 'inbox' %}"> &#10094 </a>
          </div>

          <div class="card-body " >
            <h2>{{message.subject}}</h2>
            {% if message.sender %}
            <h5 class="fst-italic">By <a href="{% url 'profile' message.sender.id %}" class="text-decoration-none text-success ">{{message.sender.name}}</a></h5>
            {% else %}
            <h5 class="text-success fst-italic" >By {{message.name}}</h5>
            
            
            {% endif %}
            <p>{{message.created_at}}</p>
            <hr>
            <p>{{message.body|linebreaksbr}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}