{% extends 'main.html' %}

{% block content %}
<div class='bg-secondary'>
<div class='container d-flex justify-content-center py-3'>
    <div class="card w-75 bg-success-subtle">
        <div class="card-header">
            <div class='d-flex justify-content-between align-items-center'>
              {% if page == 'create-project' %}
              <h4 class='text-uppercase '>Add a new project</h4>
              <a class='btn btn-outline-success rounded-pill'  href="{% url 'account' %}"> &#10094 </a>
              {% elif page == 'update-project' %}
              <h4 class='text-uppercase '>Update the <span class="text-success">{{project.title}}</span> project</h4>
              <a class='btn btn-outline-success rounded-pill'  href="{% url 'account' %}"> &#10094 </a>
              {% endif %}
              </div>
          </div>
        <div class="card-body ">
                    
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {% for field in form %}
                <div class="mb-3 form-group">
                <label for="input" class="form-label">{{field.label}}</label>
                    {{field}}                
                </div>
                {% endfor %}

                <div class="mb-3 form-group project-tag d-flex">
                    {% for tag in project.tags.all %}
                        <div class="border border-success rounded-pill py-1 px-3 m-1 bg-light" data-tag="{{tag.id}}" data-project="{{project.id}}">{{tag.name}} &#215</div>
                    {% endfor %}
                </div>

                <div class="mb-3 form-group">
                <label for="input" class="form-label">Tags</label>
                    <textarea class="form-control" name="newtags" placeholder="Add tags here..."></textarea>
                </div>


                <input class='btn btn-outline-success w-25' type="submit" value="SUBMIT">

            </form>
        </div>
        
      </div>

</div>

</div>

{% comment %} <script>
    let tags =document.getElementsByClassName('project-tag')

    for(let i=0; tags.length > i ; i++){
        tags[i].addEventListener('click', (e)=>{
            let tagId = e.target.dataset.tag
            let projectId = e.target.dataset.project
        })
    }
</script> {% endcomment %}

{% endblock content %}