{% extends 'main.html' %}

{% block content %}

<h1>These are the projects</h1>

    <table>
        <tr class="text-center">
            <th>Project</th>
            <th>Votes</th>
            <th>Vote Ratio</th>
            <th>Created</th>
            <th>Action</th>
        </tr>
        {% for project in projects %}
            <tr class="border p-2">
                <th>{{project.title}}</th>
                <th>{{project.vote_total}}</th>
                <th>{{project.vote_ratio}}</th>
                <th>{{project.created_at}}</th>
                <th>
                    <a class="btn btn-success" href="{% url 'single-project' project.id %}">VIEW</a>
                    <a class="btn btn-warning" href="{% url 'update-project' project.id %}">UPDATE</a>
                </th>
            </tr>
        {% endfor %}
    </table>
   
{% endblock content %}